/* Klasické */

.velky-ramecek {
  border: 2px solid rgb(0, 0, 0);
}

.chyba {
  font-size: 5rem;
  color: rgb(255, 0, 0);
}

.cervena {
  color: rgb(255, 0, 0);
}

.velka {
  font-size: 2rem;
}

.cerveny-article {
  border: 1px solid rgb(255, 0, 0);
  color: rgb(255, 0, 0);
}

.cerveny-article a img {
  border: 1px solid rgb(255, 0, 0);
}

.cerveny-article a:hover img,
.cerveny-article a:active img {
  border: 1px solid #0004fd;
}

.tlacitka {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.malatlacitka {
  display: initial;
}

.cerveny-article {
  border: 1px solid rgb(255, 0, 0);
  color: rgb(255, 0, 0);
}

.cerveny-article a img {
  border: 1px solid rgb(255, 0, 0);
  border-radius: 2rem;
  margin: 1rem;
  padding: 0.5rem;
}

.cerveny-article a:hover img,
.cerveny-article a:active img {
  border: 1px solid #0004fd;
}

.hlavicka-odkazy {
  text-decoration: none;
  border-bottom: 1px solid rgb(0, 0, 0);
}

/* Tlačítka */

.one {
  grid-column: 1;
  grid-row: 1;
}

.two {
  grid-column: 2;
  grid-row: 1;
}

/* Speciální */

button.neaktivni:hover,
button.neaktivni:active {
  border-color: #0004fd;
  cursor: pointer;
  color: #0004fd;
}

button.aktivni {
  border-color: rgba(0, 0, 0, 0.35);
  color: rgba(0, 0, 0, 0.35);
  background-color: #ffffff;
  cursor: not-allowed;
}

.hlavicka-odkazy:hover,
.hlavicka-odkazy:active {
  border-bottom-color: #0004fd;
}

/* IDs */

#pInput {
  display: none;
}

#menu {
  display: flex;
  list-style-type: none;
}
